<div class="game">
  @if(words.length < 1){
    <div class="center">
      <button mat-raised-button (click)="startGame()">Start Game</button>
    </div>
  }

  <div class="center">
    <mat-button-toggle-group name="role" aria-label="Role" [(ngModel)]="role" [disabled]="gameRunning">
        <mat-button-toggle value="operative">Operative</mat-button-toggle>
        <mat-button-toggle value="spymaster">Spymaster</mat-button-toggle>
    </mat-button-toggle-group>
  </div>


  <div class="container">
    @for (word of words; track $index) {
      @if (role == 'spymaster' && !word.selected) {
      <div class="word" [style.border-color]="word.color">{{ word.word | uppercase}}</div>
      }
      @if(role == 'operative' && !word.selected){
      <div class="word" [style.cursor]="'pointer'" (click)="clickWord(word)">{{ word.word | uppercase}}</div>
      }
      @if(word.selected){
        <div class="word" [ngStyle]="{'background-color': word.color == 'neutral' ? 'lightgray' : word.color, 'border-color': word.color, 'color': '#ffffff'}" >{{ word.word | uppercase}}</div>
      }
    }
  </div>

  @if(words.length > 1 && gameRunning == true){
    <button mat-raised-button class="nextGame" (click)="stopGame()">Stop Game</button>
  }

  @if(words.length > 1 && gameRunning == false){
    <button mat-raised-button class="nextGame" (click)="startGame()">Next Game</button>
  }

</div>
